/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Feb 6, 2016, 11:09:33 AM
    Author     : hexa
*/

body {
	width:1000px;
	font-family: Arial, Helvetica, sans-serif;
	text-align:center;
	margin-left:200px;
}

td {
	font-family: Arial, Helvetica, sans-serif;
}

th {
	font-family: Arial, Helvetica, sans-serif;
}
.btn{
     background: graytext;
            border-radius: 4px;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
            padding: 10px;
            color:#ffffff ;
}
.btn2{
     background: graytext;
            border-radius: 4px;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
            padding: -10px;
            font-family:serif;
            color:#ffffff ;
}

.btn3{
    background: #ffffff;
            border-radius: 4px;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
            padding: 10px;

}
.btn5{
    background: #ffffff;
            border-radius: 5px;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
            padding: 10px;
              text-decoration: underline;
}
a{
    color: #000033;
    text-decoration: none;
}

.hyperlink{
    color: #000033;
   text-decoration: underline;
}

#welcome1{
color:white;
font:"Courier New", Courier, monospace;
font-weight:normal;
background-color: gray;
}

#welcome2{
background-color:#FFFFFF ;
font:"Courier New", Courier, monospace;
color:darkgray;
font-size:36px;
text-align:center;
padding-bottom:20px;
padding-top:10px;

}





/* Navigation panel */
#nav {
width:1000px;
margin:0 auto;
list-style:none;
}
li {
    display: inline;
	    float: left;
	 border-right: 2px solid #FFFFFF ;
}
ul {
    list-style-type: none;
    margin: 0;

	margin-bottom:auto;
    padding: 0;
    overflow: hidden;
    background-color: graytext;

}

li:last-child {
    border-right: none;
}
li a {
    display: block;
    color: white;
	font-weight:bold;
    text-align: center;
	font-family:"Courier New", Courier, monospace ;
    padding: 14px 16px;
    text-decoration: none;
	width:auto;


}

/* Change the link color  on hover */
li a:hover {
    background-color: #FFFFFF;
    color:#000033;
}

footer{
background:graytext ;
text-align: center;

clear:both;

}

/* body */

#bodyleft{
float:left;
background-color:ghostwhite;
width:500px;

word-wrap: break-word

}
#bodymid{
float:none;
background-color:ghostwhite;

width:1000px;
word-wrap: break-word
}
#bodyright2{
float:right;
background-color:ghostwhite;

width:500px;
word-wrap: break-word;
}
#bodyright{
float:right;
background-color:ghostwhite;
overflow:scroll;
width:500px;
word-wrap: break-word
}
#bodyColored{
    background-color: chartreuse;
}
#transparent{
background-color:rgba(255, 255, 255, 0.8);
color:gray;
}
