<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>registerUserServlet</servlet-name>
        <servlet-class>PLMethods.registerUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>PLMethods.loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerAdminServlet</servlet-name>
        <servlet-class>PLMethods.registerAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>jobsServlet</servlet-name>
        <servlet-class>PLMethods.jobsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>applicationServlet</servlet-name>
        <servlet-class>PLMethods.applicationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateSkillsCriteriaServlet</servlet-name>
        <servlet-class>PLMethods.updateSkillsCriteriaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateExpQuaCriteriaServlet</servlet-name>
        <servlet-class>PLMethods.updateExpQuaCriteriaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminToolServlet</servlet-name>
        <servlet-class>PLMethods.adminToolServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>registerUserServlet</servlet-name>
        <url-pattern>/registerUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerAdminServlet</servlet-name>
        <url-pattern>/registerAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>jobsServlet</servlet-name>
        <url-pattern>/jobsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>applicationServlet</servlet-name>
        <url-pattern>/applicationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateSkillsCriteriaServlet</servlet-name>
        <url-pattern>/updateSkillsCriteriaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateExpQuaCriteriaServlet</servlet-name>
        <url-pattern>/updateExpQuaCriteriaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminToolServlet</servlet-name>
        <url-pattern>/adminToolServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <filter>
 <filter-name>ExpiresFilter</filter-name>
 <filter-class>org.apache.catalina.filters.ExpiresFilter</filter-class>
 <init-param>
    <param-name>ExpiresByType image</param-name>
    <param-value>access plus 10 minutes</param-value>
 </init-param>
 <init-param>
    <param-name>ExpiresByType text/css</param-name>
    <param-value>access plus 10 minutes</param-value>
 </init-param>
 <init-param>
    <param-name>ExpiresByType application/javascript</param-name>
    <param-value>access plus 10 minutes</param-value>
 </init-param>
</filter>

<filter-mapping>
 <filter-name>ExpiresFilter</filter-name>
 <url-pattern>/*</url-pattern>
 <dispatcher>REQUEST</dispatcher>
</filter-mapping>
</web-app>
